@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-size: 12vw;
}

.footer-heading {
  font-size: 6vw;
}

.album-cd {
  top: 2.5%;
  right: -50px;
  height: 95%;
}

.album:hover .album-cd {
  transform: translateX(60px);
}

@media (min-width: 640px) {
  .album:hover .album-cd { 
    transform: translateX(70px);
  }
}

.youtube-container {
  padding-bottom: 56.2%;
}

@media (min-width: 1024px) {
  .youtube-container {
    padding-bottom: 30%;
  }
}